{% extends "LTE/starter.html" %}
{% load staticfiles %}
{% load humanize %}



{% block haut1 %}


		 <!-- DROPDOWN LEAGUES-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-soccer-ball-o"></i> Leagues
              <span class="label label-success">{{liste_league|length}}</span>
            </a>
			
		
			
            <ul class="dropdown-menu">
              
			  {% for BT in liste_league  %}
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="/LIST/fav/?country_league={{BT.country_league}}">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="{{BT.profile_image_url|cut:'_normal'}}" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
						{{BT.nom}}
                       
                      </h4>
                      <!-- Th	e message -->
                      <p>{{BT.club}}</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
			  {% endfor %}
              <li class="footer"><a href="#">See All</a></li>
            </ul>
          </li>

{% endblock haut1 %}
		

{% block haut2 %}


				 <!-- DROPDOWN CLUBS-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa  fa-users"></i>  Clubs
              <span class="label label-success">{{liste_clubs|length}}</span>
            </a>
			
		
			
            <ul class="dropdown-menu">
              
			  {% for BT in liste_clubs|slice:"0:10"  %}
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="/LIST/fav/?club={{BT.club}}">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="{{BT.profile_image_url|cut:'_normal'}}" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
						{{BT.nom}}
                       
                      </h4>
                      <!-- The message -->
                      <p>{{BT.club}}</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
			  {% endfor %}
              <li class="footer"><a href="#">See All</a></li>
            </ul>
          </li>

{% endblock haut2 %}
		  


{% block haut3 %}


		 <!-- DROPDOWN TEAMMATES-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa  fa-child"></i> Teammates
              <span class="label label-success">{{liste_collegue|length}}</span>
            </a>
			
		
			
            <ul class="dropdown-menu">
              
			  {% for BT in liste_collegue|slice:"0:10"  %}
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="/AS/{{BT.screen_name}}">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="{{BT.profile_image_url|cut:'_normal'}}" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
						{{BT.nom}}
                       
                      </h4>
                      <!-- The message -->
                      <p>{{BT.club}}</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
			  {% endfor %}
              <li class="footer"><a href="#">See All</a></li>
            </ul>
          </li>

{% endblock haut3 %}
		  
{% block content1 %}
	
      <h1>
		{% for BT in BaseTweetos  %}
        {{BT.name}}
		{% endfor %}	
        <small> </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{liste_alpha}}</a></li>
        <li class="active">Profile</li>
      </ol>
	  
{% endblock content1 %}


{% block content2 %}

		<div id="main">
			<div class="container">
		<div class="row">	

		
	{% if BaseTweetos %}	
							
							
								{% for question in BaseTweetos|slice:"0:19" %}
		
			
		   <div class="col-md-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active" >
              
		
			  <h3 class="widget-user-username">{{question.name}}</h3>
			  <h5 class="widget-user-desc">{{question.club}}</h5>
			  
			  <h5 class="widget-user-desc" id="screen">@{{question.screen_name}}</h5>
              
			  
			  
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="{{question.profile_image_url|cut:'_normal'}}" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{question.statuses_count|intcomma}}</h5>
                    <span class="description-text">Tweets </span>
					
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{question.followers_count|intcomma}}</h5>
                    <span class="description-text">Followers</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">Last tweet</h5>
                    <span class="description-text">{{question.last_tw|naturaltime}}</span>
					
					
                  </div>
                  <!-- /.description-block -->
                </div>
				 <div class="col-sm-12">
                  <div class="description-block">
                    <h5 class="description-header">{{question.description}}</h5>
                    
					
                  </div>
                  <!-- /.description-block -->
                </div>
				
				
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
		
			{% endfor %}
								
							{% endif %}	
		
	 </div>	
		
		{% if liste_tweet %}
		
		<div class="col-md-6">	
		<h3> Most liked</h3>
								{% for tweet in liste_tweet|slice:"0:40" %}

	
       
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
			   
                <img class="img-circle" src="{{tweet.profile_image_url_u|cut:'_normal'}}" alt="User Image">
				
                <span class="username"><a href="https://twitter.com/{{tweet.id_twit}}/status/{{tweet.idd}}">
				{{tweet.name_u}} / {{tweet.club}}
				
				</br>
				<span class="label label-primary pull-right"> {{tweet.numero}} </span>
				@{{tweet.id_twit}}</a> <i class="fa fa-check-square"></i></span>
				
				 
                <span class="description">{{tweet.col|naturaltime}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <img class="img-responsive pad" src="{{tweet.media_url}}" alt="Photo">

              <p>{{tweet.text}}</p>
			  </br>
			  
			  			  
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Retweet</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">{{tweet.favorite_count|floatformat:"0"|intcomma}} Likes - {{tweet.retweet_count|floatformat:"0"|intcomma}} Retweets</span>
            </div>
            <!-- /.box-body -->
      
            <!-- /.box-footer -->
  
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
       
        <!-- /.col -->
 
        <!-- /.col -->
      
	  
								
								{% endfor %}
								
							{% endif %}
		
		</div>
		{% if liste_tweet2 %}
		
		
		<div class="col-md-6">	

		<h3> Most retweeted</h3>
								{% for tweet in liste_tweet2|slice:"0:40" %}

	
       
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
			   
                <img class="img-circle" src="{{tweet.profile_image_url_u|cut:'_normal'}}" alt="User Image">
				
                <span class="username"><a href="https://twitter.com/{{tweet.id_twit}}/status/{{tweet.idd}}">
				{{tweet.name_u}} / {{tweet.club}}
				
				</br>
				<span class="label label-primary pull-right"> {{tweet.numero}} </span>
				@{{tweet.id_twit}}</a> <i class="fa fa-check-square"></i></span>
				
				 
                <span class="description">{{tweet.col|naturaltime}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <img class="img-responsive pad" src="{{tweet.media_url}}" alt="Photo">

              <p>{{tweet.text}}</p>
			  </br>
			  
			  			  
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Retweet</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">{{tweet.favorite_count|floatformat:"0"|intcomma}} Likes - {{tweet.retweet_count|floatformat:"0"|intcomma}} Retweets</span>
            </div>
            <!-- /.box-body -->
      
            <!-- /.box-footer -->
  
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
       
        <!-- /.col -->
 
        <!-- /.col -->
      
	  
								
								{% endfor %}
								
							{% endif %}		
		

	  
				
				
				
				
					</div>
				
			</div>
		</div>	
{% endblock content2 %}