{% extends "LTE/starter.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content1 %}
	
      <h1>
	  
        Répartition PMG {{mandat}} {{parti}}
        <small> Données: Du {{json.DateMin}} au {{json.DateMax}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{liste_alpha}}</a></li>
        <li class="active">PMG</li>
      </ol>
	  
{% endblock content1 %}


{% block content2 %}

		<div id="main">
			<div class="container">
		<div class="row">					
		<div class="col-md-6">
		{% if liste_tweet %}
								
								{% for tweet in liste_tweet|slice:"0:20" %}

	
       
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
			   
                <img class="img-circle" src="{{tweet.profile_image_url_u|cut:'_normal'}}" alt="User Image">
				
                <span class="username"><a href="https://twitter.com/{{tweet.id_twit}}/status/{{tweet.idd}}">
				{{tweet.name_u}} / {{tweet.club}}
				
				</br>
				<span class="label label-primary pull-right"> {{tweet.numero}} </span>
				@{{tweet.id_twit}}</a> <i class="fa fa-check-square"></i></span>
				
				 
                <span class="description">{{tweet.col|naturaltime}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <img class="img-responsive pad" src="{{tweet.media_url}}" alt="Photo">

              <p>{{tweet.text}}</p>
			  </br>
			  
			  			  
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Retweet</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">{{tweet.favorite_count|floatformat:"0"|intcomma}} Likes - {{tweet.retweet_count|floatformat:"0"|intcomma}} Retweets</span>
            </div>
            <!-- /.box-body -->
      
            <!-- /.box-footer -->
  
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
       
        <!-- /.col -->
 
        <!-- /.col -->
      
	  
								
								{% endfor %}
								
							{% endif %}

 </div>				
	<div class="col-md-6">
		{% if liste_tweet %}
								
								{% for tweet in liste_tweet|slice:"20:40" %}

	
       
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
			   
                <img class="img-circle" src="{{tweet.profile_image_url_u|cut:'_normal'}}" alt="User Image">
				
                <span class="username"><a href="https://twitter.com/{{tweet.id_twit}}/status/{{tweet.idd}}">
				{{tweet.name_u}} / {{tweet.club}}
				
				</br>
				<span class="label label-primary pull-right"> {{tweet.numero}} </span>
				@{{tweet.id_twit}}</a> <i class="fa fa-check-square"></i></span>
				
				 
                <span class="description">{{tweet.col|naturaltime}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <img class="img-responsive pad" src="{{tweet.media_url}}" alt="Photo">

              <p>{{tweet.text}}</p>
			  </br>
			  
			  			  
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Retweet</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">{{tweet.favorite_count|floatformat:"0"|intcomma}} Likes - {{tweet.retweet_count|floatformat:"0"|intcomma}} Retweets</span>
            </div>
            <!-- /.box-body -->
      
            <!-- /.box-footer -->
  
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
       
        <!-- /.col -->
 
        <!-- /.col -->
      
	  
								
								{% endfor %}
								
							{% endif %}

 </div>				

 </div>
	  
				
				
				
				
					</div>
				</div>
			</div>
		</div>	
{% endblock content2 %}