{% extends "TRON/base.html" %}
{% load staticfiles %}
{% block content2 %}

		<div id="main>
			<div class="container">
				<div class="row main-row">
					<div class="5u">
						
						<section class="left-content" id=GG>	
							


							
							<script src="https://d3js.org/d3.v4.min.js"></script>
								{% load staticfiles %}
							<script> 							

										
									var	margin = {top: 50	, right: 20, bottom: 50, left: 100},
										width = 600 - margin.left - margin.right,
										height = 300 - margin.top - margin.bottom;
										
									var chart1 = d3.select("#GG")
										.append("svg")
											.attr("width", width + margin.left + margin.right)
											.attr("height", height + margin.top + margin.bottom)
										.append("g")
											.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


									var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
										y = d3.scaleLinear().rangeRound([height, 0]);

									// Parse the date / time
									var parseTime = d3.timeParse("%Y-%m-%d");
										
									chemin="/static/data/"+"{{liste_alpha}}"+"/ZIG.tsv";
									
									var xAxis = d3.axisBottom(x)
													.tickFormat(d3.timeFormat("%b"));
									
									d3.tsv(chemin, function(d) {	
									d.KEY = d.KEY;	
									d.MT = +d.MT;
									  return d;	
									  console.log(d.KEY	);
									}, function(error, data) {
									  if (error) throw error;

									  x.domain(data.map(function(d) { return d.KEY; }));
									  y.domain([0, d3.max(data, function(d) { return d.MT; })]);

									  chart1.append("g")
										  .attr("class", "axis axis--x")
										  .attr("transform", "translate(0," + height + ")")
										  .call(d3.axisBottom(x))
										  .selectAll("text") 
											.attr("dx", "-2.8em")
											.attr("dy", ".2em")
											.attr("transform", "rotate(-45)");
									  
											
											  //Create X axis label   
									  chart1.append("text")
											.attr("x", width / 2 )
											.attr("y",  height + margin.bottom)
											.style("text-anchor", "middle")
											.text("Date")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart1.append("text")
											.attr("x", width / 2)
											.attr("y",  -25)
											.style("text-anchor", "middle")
											.text("CA Mensuel")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart1.append("g")
										  .attr("class", "axis axis--y")
										  .call(d3.axisLeft(y).ticks(5))
										.append("text")
										  .attr("transform", "rotate(-90)")
										  .attr("y", 6)
										  .attr("dy", ".2em")
										  .attr("text-anchor", "end")
										  .text("MT")
										  
										  ;
										  
										  
										
									  chart1.append("text")	
											.attr("x",  -70)
											.attr("y",  height/2)
											.style("text-anchor", "middle")
											.text("CA")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  
										
														
									  chart1.selectAll(".bar")
										.data(data)
										.enter().append("rect")
										  .attr("class", "bar")

										  .attr("x", function(d) { return x(d.KEY); })
										  .attr("y", function(d) { return y(d.MT); })
										  .attr("width", x.bandwidth())
										  .attr("height", function(d) { return height - y(d.MT); });
										  

									});

							
							</script>

							<script> 							

							
										
									var chart4 = d3.select("#GG")
										.append("svg")
											.attr("width", width + margin.left + margin.right)
											.attr("height", height + margin.top + margin.bottom)
										.append("g")
											.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


									var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
										y = d3.scaleLinear().rangeRound([height, 0]);

									chemin="/static/data/"+"{{liste_alpha}}"+"/ZIG.tsv";
									
									d3.tsv(chemin, function(d) {		
									d.MT3 = +d.MT/d.IDC;
									  return d;	
									}, function(error, data) {
									  if (error) throw error;

									  x.domain(data.map(function(d) { return d.KEY; }));
									  y.domain([0, d3.max(data, function(d) { return d.MT3; })]);

									  chart4.append("g")
										  .attr("class", "axis axis--x")
										  .attr("transform", "translate(0," + height + ")")
										  .call(d3.axisBottom(x))
										  .selectAll("text") 
											.attr("dx", "-.8em")
											.attr("dy", "1.5em")
											.attr("transform", "rotate(-45)");

											  //Create X axis label   
									  chart4.append("text")
											.attr("x", width / 2 )
											.attr("y",  height + margin.bottom)
											.style("text-anchor", "middle")
											.text("Date")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart4.append("text")
											.attr("x", width / 2)
											.attr("y",  -25)
											.style("text-anchor", "middle")
											.text("CA / Actif	")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart4.append("g")
										  .attr("class", "axis axis--y")
										  .call(d3.axisLeft(y).ticks(5))
										.append("text")
										  .attr("transform", "rotate(-90)")
										  .attr("y", 6)
										  .attr("dy", ".2em")
										  .attr("text-anchor", "end")
										  .text("MT");
										
									  chart4.append("text")	
											.attr("x",  -70)
											.attr("y",  height/2)
											.style("text-anchor", "middle")
											.text("CA")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  
										
														
									  chart4.selectAll(".bar")
										.data(data)
										.enter().append("rect")
										  .attr("class", "bar2")

										  .attr("x", function(d) { return x(d.KEY); })
										  .attr("y", function(d) { return y(d.MT3); })
										  .attr("width", x.bandwidth())
										  .attr("height", function(d) { return height - y(d.MT3); });
										  

									});

							
							</script>							
											
						</section>
					
					</div>
					<div class="5u">
						<section class="right-content" id=GG2>	
						
						<script>
									var chart2 = d3.select("#GG2")
										.append("svg")
											.attr("width", width + margin.left + margin.right)
											.attr("height", height + margin.top + margin.bottom)
										.append("g")
											.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
										
									d3.tsv("/static/data/"+"{{liste_alpha}}"+"/ZIG.tsv", function(d) {
									  d.MT2 = +d.MT2;
									  return d;	
									}, function(error, data) {
									  if (error) throw error;

									  x.domain(data.map(function(d) { return d.KEY; }));
									  y.domain([0, d3.max(data, function(d) { return d.MT2; })]);

									  chart2.append("g")
										  .attr("class", "axis axis--x")
										  .attr("transform", "translate(0," + height + ")")
										  .call(d3.axisBottom(x))
										  .selectAll("text") 
											.attr("dx", "-.8em")
											.attr("dy", "1.5em")
											.attr("transform", "rotate(-45)");

											  //Create X axis label   
									  chart2.append("text")
											.attr("x", width / 2 )
											.attr("y",  height + margin.bottom)
											.style("text-anchor", "middle")
											.text("Date")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart2.append("text")
											.attr("x", width / 2)
											.attr("y",  -25)
											.style("text-anchor", "middle")
											.text("Transactions Mensuelles")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart2.append("g")
										  .attr("class", "axis axis--y")
										  .call(d3.axisLeft(y).ticks(5))
										.append("text")
										  .attr("transform", "rotate(-90)")
										  .attr("y", 6)
										  .attr("dy", ".2em")
										  .attr("text-anchor", "end")
										  .text("MT");
										
									  chart2.append("text")	
											.attr("x",  -70)
											.attr("y",  height/2)
											.style("text-anchor", "middle")
											.text("CA")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  
										
														
									  chart2.selectAll(".bar")
										.data(data)
										.enter().append("rect")
										  .attr("class", "bar3")

										  .attr("x", function(d) { return x(d.KEY); })
										  .attr("y", function(d) { return y(d.MT2); })
										  .attr("width", x.bandwidth())
										  .attr("height", function(d) { return height - y(d.MT2); });
										  

									});

						</script>
						
						
										<script>
									var chart3 = d3.select("#GG2")
										.append("svg")
											.attr("width", width + margin.left + margin.right)
											.attr("height", height + margin.top + margin.bottom)
											
										.append("g")
											.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
												;
										
									d3.tsv("/static/data/"+"{{liste_alpha}}"+"/ZIG.tsv", function(d) {
									  d.IDC = +d.IDC;
									  return d;	
									}, function(error, data) {
									  if (error) throw error;

									  x.domain(data.map(function(d) { return d.KEY; }));
									  y.domain([0, d3.max(data, function(d) { return d.IDC; })]);

									  chart3.append("g")
										  .attr("class", "axis axis--x")
										  .attr("transform", "translate(0," + height + ")")
										  .call(d3.axisBottom(x))
										  .selectAll("text") 
											.attr("dx", "-.8em")
											.attr("dy", "1.5em")
											.attr("transform", "rotate(-45)");

											  //Create X axis label   
									  chart3.append("text")
											.attr("x", width / 2 )
											.attr("y",  height + margin.bottom)
											.style("text-anchor", "middle")
											.text("Date")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart3.append("text")
											.attr("x", width / 2)
											.attr("y",  -25)
											.style("text-anchor", "middle")
											.text("Actifs")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  

									  chart3.append("g")
										  .attr("class", "axis axis--y")
										  .call(d3.axisLeft(y).ticks(5))
										.append("text")
										  .attr("transform", "rotate(-90)")
										  .attr("y", 6)
										  .attr("dy", ".2em")
										  .attr("text-anchor", "end")
										  .text("MT");
										
									  chart3.append("text")	
											.attr("x",  -70)
											.attr("y",  height/2)
											.style("text-anchor", "middle")
											.text("CA")
											.attr("font-size",  "20px")
											.attr("font-family",  "Calibri")
											;  
										
														
									  chart3.selectAll(".bar")
										.data(data)
										.enter().append("rect")
										  .attr("class", "bar4")
										  
										  .attr("x", function(d) { return x(d.KEY); })
										  .attr("y", function(d) { return y(d.IDC); })
										  .attr("width", x.bandwidth())
										  .attr("height", function(d) { return height - y(d.IDC); });
										  

									});

						</script>
						</section>
						<section>
							

							
					
							 
						</section>
					</div>
				
					<div class="2u">
						<section class="RC">	
							</br>
							HORIZON </br> </br>
							<a href="/user/{{liste_alpha}}/" >MONTHLY</a> </br>
							<a href="/user6/{{liste_alpha}}/" >WEEKLY</a> </br>
							<a href="/user7/{{liste_alpha}}/" >DAILY</a> </br>
						</div section>
					</div>
				</div>
			</div>
		</div>
{% endblock content2 %}


